<p id="notice"><%= notice %></p>

<p>
	<b> Group Name </b>
	<%= @group.group_name %>
</p>

<p>
	<b> Affiliation </b>
	<%= @group.affiliation %>
</p>

<p>
	<b> Group Type </b>
	<%= @group.group_type %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
