<div style="margin-top: 30px">
<%= link_to 'New Event', new_group_event_path, :class => "btn btn-primary", id: "new_link", remote: true %>
</h3>
<hr />
</div>

<h1>Listing events</h1> <br />

      <% @group.events.each do |event| %>

          <h4 style="margin-bottom=0px;">
            <%= link_to event.date, group_event_path(@group.id, event.id) %> <br />
          </h4>
 
          <%= Time.parse(event.starts_at).strftime("%I:%M %p")  %> -
          <%= Time.parse(event.ends_at).strftime("%I:%M %p")  %>
          <%= event.location  %>,
          <%= event.room_number  %> <br/>
          <p><%= event.info  %></p>

          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      group_event_path(@group.id, event.id),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
    <hr />


    <% end %>

<br />

<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker()
</script>
